src/main/mule/ashenafi_craft_recap_11.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2a390405-111d-4941-b357-981781dfe1d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6ee78cc9-f3bd-4769-a93b-22ff0c4b3419" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Lemlem11!" database="mulesoftdb" />
	</db:config>
	<flow name="ashenafi_craft_recap_11Flow" doc:id="ed2e28d1-ceb6-4cd8-9c93-ebbc68bff40e" >
		<http:listener doc:name="Listener" doc:id="51f1e74f-e168-43de-999b-986b32b85a9d" config-ref="HTTP_Listener_config" path="/git"/>
		<db:select doc:name="Select" doc:id="378cd015-f735-43e4-bee7-763b3912d185" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from student_data]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e69230e7-01f0-42cb-9da9-ca884442e2a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="aa2ab45a-e019-4f03-b9c1-f46f643955dc" message="#[payload]"/>
	</flow>
</mule>
